<style>
	.print-format {
		padding: 0.1in;
	}

	.print-format td, .print-format th {
		vertical-align: top !important;
		padding: 0px 3px 0px 3px !important;
	}

	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 10px;
		margin-bottom: 5px;
	}
</style>

<div class="container">

	{# ERV HEADING #}
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3>
				ERV
			</h3>
		</div>
	</div>

	{# ERV IN #}
	{% set erp_in_item_set = doc.summary.erv_in_map|report_build_erv_item_map %}
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h4>In</h4>
			<table class="table table-bordered table-condensed">
				<thead>
				<tr>
					<th>
						V.No
					</th>
					<th>
						Vehicle
					</th>
					{% for item in erp_in_item_set %}
						<th>
							{{ item }}
						</th>
					{% endfor %}
				</tr>
				</thead>
				<tbody>
				{% for erv_no, erv_map in doc.summary.erv_in_map.items() %}
					<tr>
						<td>
							{{ erv_no }}
						</td>
						<td>
							{{ erv_map.voucher.vehicle }}
						</td>

						{% for item in erp_in_item_set %}
							{% if item in  erv_map %}
								<th style="text-align: right">{{ erv_map[item] }}</th>
							{% else %}
								<th></th>
							{% endif %}
						{% endfor %}

					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	{# ERV OUT #}
	{% set erp_out_item_set = doc.summary.erv_out_map|report_build_erv_item_map %}
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h4>Out</h4>
			<table class="table table-bordered table-condensed">
				<thead>
				<tr>
					<th>
						V.No
					</th>
					<th>
						Vehicle
					</th>
					{% for item in erp_out_item_set %}
						<th>
							{{ item }}
						</th>
					{% endfor %}
				</tr>
				</thead>
				<tbody>
				{% for erv_no, erv_map in doc.summary.erv_out_map.items() %}
					<tr>
						<td>
							{{ erv_no }}
						</td>
						<td>
							{{ erv_map.voucher.vehicle }}
						</td>

						{% for item in erp_out_item_set %}
							{% if item in  erv_map %}
								<th style="text-align: right">{{ erv_map[item] }}</th>
							{% else %}
								<th></th>
							{% endif %}
						{% endfor %}

					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	{# GR Heading #}
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3>
				Goods Receipts
			</h3>
		</div>
	</div>

	{# GR Details #}
	<table class="table table-condensed table-bordered table-striped table-nowrap">
		<thead>
		<tr>
			<th>Sr</th>
			<th>ID</th>
			<th>Customer</th>
			<th>ItmD</th>
			<th>DQ</th>
			<th>ItmR</th>
			<th>RQ</th>
			<th>Warehouse</th>
		</tr>
		</thead>
		<tbody>
		{% for gr_no, gr_map in doc.summary.gr_map.items() %}
			<tr>
				<td></td>
				<td>{{ gr_no }}</td>
				<td>{{ gr_map.voucher.customer }}</td>
				<td>{{ gr_map.item_delivered }}</td>
				<td style="text-align: right">{{ gr_map.delivered_quantity }}</td>
				<td>{{ gr_map.item_received }}</td>
				<td style="text-align: right">{{ gr_map.received_quantity }}</td>
				<td>{{ gr_map.voucher.warehouse }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

	{# PR Heading #}
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3>
				Payment Receipts
			</h3>
		</div>
	</div>

	{# PR Details #}
	<table class="table table-condensed table-bordered table-striped table-nowrap">
		<thead>
		<tr>
			<th>V.No</th>
			<th>D.Qty</th>
			<th>R.Qty</th>
			<th>DQ</th>
			<th>Rate</th>
			<th>Amount</th>
			<th>Vendor</th>
		</tr>
		</thead>
		<tbody>
		{% for pr_no, pr_map in doc.summary.pr_map.items() %}
			<tr>
				<td>{{ pr_no }}</td>
				<td>{{ pr_map.item }}</td>
				<td style="text-align: right">{{ pr_map.d_qty }}</td>
				<td style="text-align: right">{{ pr_map.r_qty }}</td>
				<td style="text-align: right">{{ pr_map.voucher.amount_per_item }}</td>
				<td style="text-align: right">{{ pr_map.voucher.total }}</td>
				<td>{{ pr_map.voucher.stock_owner }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

	{# Gatepass/Non-erv Headings #}
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3>
				Transfers
			</h3>
		</div>
	</div>

	{# Gatepass IN/Non-erv Details #}
	{% set gatepass_in_item_set = doc.summary.gatepass_in_map|report_build_erv_item_map %}
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h4>In</h4>
			<table class="table table-bordered table-condensed">
				<thead>
				<tr>
					<th>
						V.No
					</th>
					<th>
						Vehicle
					</th>
					{% for item in erp_in_item_set %}
						<th>
							{{ item }}
						</th>
					{% endfor %}
				</tr>
				</thead>
				<tbody>
				{% for gp_no, gp_map in doc.summary.gatepass_in_map.items() %}
					<tr>
						<td>
							{{ gp_no }}
						</td>
						<td>
							{{ gp_map.voucher.driver }}
						</td>

						{% for item in gatepass_in_item_set %}
							{% if item in  erv_map %}
								<th style="text-align: right">{{ erv_map[item] }}</th>
							{% else %}
								<th></th>
							{% endif %}
						{% endfor %}

					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	{# Gatepass OUT/Non-erv Details #}
	{% set gatepass_out_item_set = doc.summary.gatepass_out_map|report_build_erv_item_map %}
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h4>Out</h4>
			<table class="table table-bordered table-condensed">
				<thead>
				<tr>
					<th>
						V.No
					</th>
					<th>
						Vehicle
					</th>
					{% for item in erp_in_item_set %}
						<th>
							{{ item }}
						</th>
					{% endfor %}
				</tr>
				</thead>
				<tbody>
				{% for gp_no, gp_map in doc.summary.gatepass_out_map.items() %}
					<tr>
						<td>
							{{ gp_no }}
						</td>
						<td>
							{{ gp_map.voucher.driver }}
						</td>

						{% for item in gatepass_in_item_set %}
							{% if item in  erv_map %}
								<th style="text-align: right">{{ erv_map[item] }}</th>
							{% else %}
								<th></th>
							{% endif %}
						{% endfor %}

					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>


</div>