<style>
	.print-format {
		padding: 0.1in;
	}

	.print-format td, .print-format th {
		vertical-align: top !important;
		padding: 0px 3px 0px 3px !important;
	}

	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 10px;
		margin-bottom: 5px;
	}

	.item {
	    font-size: 11px;
	}

	.customer {
		font-size: 11px;
	}
</style>

<div>

	{% if letter_head and not no_letterhead %}
		<p class="text-left">

		<div class="letter-head">{{ letter_head }}</div>
		</p>
		<br/>
		<br/>
	{% endif %}

	<div class="row clearfix">
		<div class="col-xs-9 column">
			<p class="text-left">
			<h4>
				Vehicle No. {{ doc.vehicle }} -
				{{ frappe.db.get_value("Supplier", doc.plant, "supplier_name") or doc.plant }}
			</h4><br/>
			</p>
		</div>

		<div class="col-xs-3 column">
			<p class="text-right">
				Indent No. {{ doc.name }}<br/>
				Date: {{ doc.get_formatted("posting_date") }}
			</p>

		</div>
	</div>

	{% set show_contract = doc.naming_series == 'IOC' %}

    {% set one_way_indent = doc.indent|indent_oneway_qty > 0 %}


	<div class="row clearfix">
		<div class="col-xs-12 column">
			<table class="table table-bordered table-striped">
				<thead>
				<tr>
					<th>
						#
					</th>
					<th>
						Customer
					</th>
					<th>
						SAP
					</th>
					{% if show_contract %}
						<th>
							Contract No.
						</th>
					{% endif %}
					<th>
						TIN No.
					</th>
					<th>
						Cap In KG
					</th>
				    {% if doc.naming_series == 'BPC' %}
                        <th>
						Item
					    </th>
                    {% endif %}
                    {% if one_way_indent %}
                        <th>
                            Oneway
                        </th>
                    {% endif %}
					<th>
						Refill
					</th>
				    <th>
						S.Tax
					</th>
					<th>
						Modvat
					</th>
				    {% if doc.naming_series != 'HPC' %}
                        <th>
						Payment
					    </th>
                    {% endif %}
					<th>
						Rate
					</th>
					<th>
						Amount
					</th>
				</tr>
				</thead>
				<tbody>
				{% for indent_item in doc.indent %}
					<tr>
						<td>
							{{ indent_item.idx }}
						</td>
						<td class="customer">
							{{ indent_item.customer }}
						</td>
						<td>
							{{ indent_item.customer | get_registration_code(doc.naming_series, doc.posting_date) }}
						</td>
						{% if show_contract %}
							<td>
								{{ indent_item.customer | get_contract_number(doc.posting_date, doc.plant) or '' }}
							</td>
						{% endif %}
						<td>
							{{ indent_item.customer | get_customer_tin_number }}
						</td>
						<td class="item">
							{{ frappe.db.get_value("Item", indent_item.item, "description") }}
						</td>
                        {% if doc.naming_series == 'BPC' %}
                            <td>
                            {{ indent_item.item | get_omc_item_mapped('BPC') }}
                            </td>
                        {% endif %}
                        {% if one_way_indent %}
                            <td>
                                {% if indent_item.load_type == 'Oneway' %}
                                    {{ indent_item.qty }}
                                {% endif %}
						    </td>
                        {% endif %}
						<td>
							{% if indent_item.load_type == 'Refill' %}
								{{ indent_item.qty }}
							{% endif %}
						</td>
					    <td>
                            {{ indent_item.sales_tax }}
						</td>
						<td>
							{{ indent_item.customer | get_cenvat_status(doc.posting_date, doc.plant) or '' }}
						</td>
                        {% if doc.naming_series != 'HPC' %}
                            <td>
	                            {{ indent_item.customer | get_account_code(doc.plant, indent_item.credit_account, doc.posting_date) }}

                            </td>
                        {% endif %}
						<td>
							{{ frappe.format_value(indent_item.rate | round(2), {'fieldtype': 'Currency'}) }}
						</td>
						<td>
							{{ frappe.format_value(indent_item.amount | round(2), {'fieldtype': 'Currency'}) }}
						</td>
					</tr>

				{% endfor %}


				<tr>
					<td></td>
					<td></td>
					<td></td>
					{% if show_contract %}
						<td></td>
					{% endif %}
					<td></td>
					<td class="item">Total in M.T.</td>
				    {% if doc.naming_series == 'BPC' %}
                             <td></td>
                    {% endif %}
                    {% if one_way_indent %}
                        <td>{{ doc.indent| indent_oneway_qty }}</td>
                    {% endif %}
					<td>{{ doc.indent| indent_refill_qty }}</td>
					{% if doc.naming_series != 'HPC' %}
                        <td></td>
                    {% endif %}
				    <td></td>
					<td></td>
					<td></td>
					<td>{{ frappe.format_value(doc.grand_total | round(2), {'fieldtype': 'Currency'}) }}</td>
				</tr>


				</tbody>
			</table>
		</div>
	</div>

	<div class="row clearfix">
		<br/>

		<div class="col-xs-12 column">
			<p>
				We are sending vehicle no. {{ doc.vehicle }} &amp; we hear by authorise Mr. {{ doc.driver|capitalize }}
				as driver (whose driving licence number is
				{{ frappe.db.get_value("Driver", doc.driver, "dl_number") or "N/A" }}) to the above mentioned vehicle.
			</p>
		</div>
	</div>

	<div class="row clearfix">
		<div class="col-xs-6 column">
			<p class="text-left">
				<br/>
				<br/>
				_________________________<br/>
				Signature Of The Driver
			</p>
		</div>
		<div class="col-xs-6 column">
			<p class="text-right">
				For {{ doc.letter_head }}
				<br/>
				<br/>
				<span>Authorised Signatory</span>
			</p>
		</div>
	</div>


	<div class="row clearfix">
		<div class="col-xs-12 column">
			<strong>
				THIS IS A COMPUTER-GENERATED DOCUMENT AND IT DOES NOT REQUIRE A SIGNATURE. THIS DOCUMENT SHALL NOT
				BE INVALIDATED SOLELY ON THE GROUND THAT IT IS NOT SIGNED.
			</strong>
		</div>
	</div>

	<div class="row clearfix">
		<div class="col-xs-12 column">
			<h3 class="text-center">
			</h3>

			<h3 class="text-center">
				<strong>Equipment Return Voucher (Plant Use)</strong>
			</h3>

			{% set map = doc.indent|compute_erv_for_refill_in_indent %}

			<table class="table table-bordered table-striped">
				<thead>
				<tr>
					{% for key in map.keys() %}
						<th>
							{{ key }}
						</th>
					{% endfor %}
				</tr>
				</thead>
				<tbody>
				<tr>
					{% for value in map.values() %}
						<td>
							{{ value }}
						</td>
					{% endfor %}
				</tr>
				<tr>
					{% for value in map.values() %}
						<td style="padding: 14px!important;">

						</td>
					{% endfor %}
				</tr>
				</tbody>
			</table>
		</div>
		<div class="col-xs-6 column">
			Please acknowledge the receipt of equipment returned to plant.
		</div>
		<div class="col-xs-6 column">
			<strong>
				Tallyman's Name & Sig.<br/><br/>
				Shift Officer Name & Sig.
			</strong>
		</div>
	</div>

</div>